<h1><%= @task.title%></h1>

<div class="wrapper">
  <p><%= @task.details %></p>
</div>

<div class="complete">
<% message = @task.completed ? 'This task is complete' : 'This task is not completed yet' %>

  <form action="" method="post">
    <input type="checkbox" name="completed" >
    <label for="completed"><%= message %></label>
  </form>
</div>

<div class="link">
<%= link_to 'Back to tasks', tasks_path %>
</div>
