// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
div {
  font-family: arial;
  text-align: left
}

h1 {
  font-size: 60px;
  font-weight: bold;
  font-family: arial;
  letter-spacing: 2px;
}

.wrapper {
  padding : 50px;
  text-align: left;
  background-color: lightgrey;
  font-weight: bold;
}

.complete {
  padding: 40px;
  margin-bottom: 30px;
}

.link {
  text-decoration: none;
  font-family: arial;
  color: black;
  border: 1px solid grey;
  padding : 20px 20px;
}

.link:hover {
  text-decoration: none;
  color: grey;
  font-weight: bold;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.form {
  margin-bottom: 40px;
}
